.User {
    padding:20px;
    position:relative; 
    width:80%;
    margin:20px auto;
    background-color: #2c3e50;
}
.user__inputgroup {
    display:block;
    font-size: 11px; 
    margin-bottom:3px;
}

.user__label {
    color:white;
    font-family:'Lato',Helvetica,Arial,sans-serif;
    min-width: 100px;
    display: inline-block;
}

.user__input {
    font-family:'Lato',Helvetica,Arial,sans-serif;
    color:white;
    border: none;
    padding:4px;
    background: rgba(0,0,0,.2);
    /* display:block; */
}

.user__delete {
    display:absolute;
    top:5px;
    right:10px;
}