//Fonts
// @import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900');

$font-family-sans-serif:    "Lato", Helvetica, Arial, sans-serif;
$font-family-serif:    		"PT Serif", "Times New Roman", Times, serif;
$base-font-family: 			"Lato", Helvetica, Arial, sans-serif !default;


$font-size-base:            16px;
$font-unit:                 0em; 
$browser-context:           $font-size-base;
$baseFontSize:				16px; /* ($baseFontSize * 1) + 0px; */


// //colors
// $brand-primary:             #2D9DE2; 
// $brand-secondary:           #e22f22;

// $dark-color:       			#212427;
// $white:						#ffffff;
// $black:             		#000000;
// $blue:              		#46a5fc;

// $transparent:				rgba(0,0,0,0);
// $gray-2-color:     			#efefef;
// $gray-3-color:     			#dfe0e1;
// $gray-4-color:     			#bfc3c3;
// $grey:						#808080;
// $border-color:     			#e0e0e0;
// $base-color:       			#4B4B4B;
// $header-color:     			#4B4B4B;
// $error-color:      			#e73d4a;
// $success-color:    			#17aa1c;
// $warning:           		#fecd50;
// $selected-color:   			#212427;
// $hover-color:      			#303030;
// $visited-color:    			#121212;
// $link-color:       			#212427;
// $link-hover-color: 			#303030;



//Buttons
// $btn-primary-color:              #fff !default;
// $btn-primary-bg:                 $brand-primary !default;
// $btn-primary-border:             darken($btn-primary-bg, 5%) !default;

  /* #2c3e50;
  #7f8c8d */
  /* #d35400 */
$colors: (
	dark:    		#2c3e50,
	lightgray:     	#7f8c8d,
	orange: 		#d35400,
	brightGreen:    rgb(57, 208, 92),
	back:		rgb(24,27,40),
	pale: rgb(78, 97, 121),
	light: rgb(152, 162, 175),
	greg: rgb(55, 75, 100),
	john: rgb(110, 125, 144),
	blue: rgb(27, 63, 110),
	frank: #0f222b,


);



//Responsive break points


// $header-break:              992px;
// $large-break:				1450px;
// $md-break:                  1200px; /* col-lg  */
// $mmd-break:                 992px;  /* col-md ipad landscape */
// $mmd-break-down:            991px;  /* col-md ipad landscape */
// $sm-break:                  768px;  /* col-sm ipad */
// $sm-break-down:             767px;  /* col-sm ipad */
// $mobile-break:              620px;	/* col-xs */
// $sm-mobile-break:           490px;	/* col-xs */

//Navbar
// $logo-width:                52px;
// $logo-height:               52px;
// $sticked-logo-height:       34px;
// $sticked-logo-width:        34px;
// $navbar-height:             70px;



$desktop: 				"screen and (max-width : 1194px)";
$desktop-up: 			"screen and (min-width : 992px)";
$smallDevices: 			"screen and (min-width : 1025px) and (max-width : 1150px)";
$ipadPortrait: 			"screen and (max-width : 992px)";
$phone: 				"screen and (min-width : 200px)  and (max-width : 480px)";
$iPhoneMedium:	   		"screen and (min-width : 481px)  and (max-width : 667px)";
$iPhoneLarge: 			"screen and (min-width : 668px)  and (max-width : 767px)";
$tabletLandscape: 		"screen and (min-width : 992px)  and (max-width : 1024px)";
$tablet-up: 			"screen and (min-width : 768px)";
$tablet: 				"screen and (min-width : 768px)  and (max-width : 991px)";
$up-to-desktop: 		"screen and (max-width : 991px)";
$mobile: 				"screen and (max-width : 767px)";

// Standard transition speed
$transition: 0.4s;
