.plant-data-line {
    display:flex;
}

.plant-data-line__header {
    margin-top:40px;
}

.plant-data-line__data-point {
    font-weight:200;
    color:color(offwhite);
    flex-grow:1;
    flex-basis: 50px;
    text-align: center;

    // border: 1px solid green;
}

.plant-data-line__button--update {
    background-image: url('/static/icons/iconmonstr-update-white.svg?ver2');
}
    

.plant-data-line__button--delete {
    background-image: url('/static/icons/iconmonstr-x-mark-thin-white.svg');
}

.plant-data-line__button {
    height:23px;
    width:23px;
    background-color:transparent;
    background-position-x: 50%;
    background-position: 50%;
    background-repeat:no-repeat;
    float:left;
}