.room {
    background: color(brightGreen);
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    padding: 0 40px 0 20px;
    min-height:60px;
    text-align: center;
    display:flex;
    align-items: center;
    position:relative;
    color: black;
    border-color:black;
    &:hover {
        cursor:pointer;
    }
}



.room--selected {
    background-color: transparent;
    color: white;
    border-color:white;

}

.room--new {
    // background: color(orange);
    background: none;
}


.room__p {
    font-family: $base-font-family;
    color:inherit;
    font-size: 20px;
}
.room__input {
    font-family: $base-font-family;
    color:color(lightgray);
    font-size: 20px;
}

.room__save {
    background: url('/static/icons/iconmonstr-check-mark-thin-white.svg');
    background-repeat:no-repeat;
    height:20px;
    width:20px;
    background-size:contain;
    position: absolute;
    right: 20px;
    &:hover {
        cursor:pointer;
    }
}

.room__button {
    &:hover {
        color:white;
    }
}
.room_temp {
    font-family: $base-font-family;
    font-size:rem(25);
    font-weight:200;
    border-style:solid;
    border-color:inherit;
    border-width: 1px;
    justify-content: center;
    padding: 10px;
    margin-right: 10px;
}

.room_humidity {

}