.user-controls {
    margin-top: 7px;
    // height:40px;
    width:100%;
    margin-bottom:40px;
}


.user-controls__button {
    display:block;
    float:left;
    margin-left: 25px;
    height:23px;
    width:23px;
    padding: 30px;
    border-radius: 50%;
    background-position-x: 50%;
    background-position: 50%;
    background-repeat:no-repeat;

    &:hover {
        cursor:pointer;

    }

}

.user-controls__button--new {
    background-color: color(brightgreen);
    background-image: url('/static/icons/plus-thin.svg');
    &.deactive {
        opacity:.2;
    }
}

.user-controls__button--delete {
    background-color: color(orange);
    transform: rotate(45deg); /* Equal to rotateZ(45deg) */
    background-image: url('/static/icons/plus-thin.svg');
    &.deactive {
        opacity:.2;
    }
}

.user-controls__button--remove-calander {
    background-color: color(red);
    transform: rotate(45deg); /* Equal to rotateZ(45deg) */
    background-image: url('/static/icons/plus-thin.svg');
    padding: 20px;

}