.single-plant {
    position:relative;
    
}

.single-plant__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    // grid-gap: 10px;
}


.single-plant__serial {
    font-family: $base-font-family;
    text-align:center;
    font-size:rem(30);
    color:#da4ad6;
}

.single-plant__locations {
    display:block;
    margin:auto;
    // margin-top:10px;
    // margin-bottom:10px;
}


.single-plant__data {
    // background-color:color(brightgreen);
    background-color:color(back10pc);
    // border-radius: 50%;
    color:white;
    float:left;
    text-align:center;
    width: 100%;
    height: 100%;
    // height: 150px;
    padding-top: 30px;
    margin:auto;
    border-top: 1px solid rgb(38, 39, 41);
    border-bottom: 1px solid black;
    border-left: 1px solid rgb(38, 39, 41);
    border-right: 1px solid black;

}

.single-plant__data-other {
    background-color:#a762ca;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding-top: 20px;

}

.single-plant__data-label {
    font-family: $base-font-family;
    // color:black;
    color:white;
    font-size:rem(12);
    margin-bottom:5px;

}
.single-plant__data-point {
    font-family: $base-font-family;
    color: color(offwhite);
    font-size:rem(60);
    font-weight:200;
    text-align: center;
    width: 100%;
}
.single-plant__data-point-other {
    font-size:rem(40);
}


.single-plant__checklist-button{
    width:50px;
    position: absolute;
    top: 0;
    right: 0;
}

.single-plant__checklist {
    height:100%;
    width:100%;
}