.user-controls {
    margin-top: 7px;
    // height:40px;
    width:80%;
    margin:auto;
    margin-bottom:40px;
}


.user-controls__button {
    display:block;
    float:left;
    margin-right: 25px;
    height:23px;
    width:23px;
    padding: 30px;
    border-radius: 50%;
    background-position-x: 50%;
    background-position: 50%;
    background-repeat:no-repeat;

    &:hover {
        cursor:pointer;
    }
    &.deactive {
        opacity:.2;
        &:hover {
            cursor:default;
        }
    }
}

.user-controls__button--new {
    background-color: color(brightgreen);
    background-image: url('/static/icons/plus-thin.svg');
}

.user-controls__button--delete {
    background-color: color(orange);
    transform: rotate(45deg); /* Equal to rotateZ(45deg) */
    background-image: url('/static/icons/plus-thin.svg');
}

.user-controls__button--update {
    background-color: rgb(54, 133, 197);
    background-image: url('/static/icons/iconmonstr-update-white.svg?ver2');
}



.user-controls__button--remove-calendar {
    background-color: color(red);
    transform: rotate(45deg); /* Equal to rotateZ(45deg) */
    background-image: url('/static/icons/plus-thin.svg');
    padding: 20px;

}