.separator {
    border-bottom: 1px solid color(separator-light);
    border-top: 1px solid color(separator-dark);
    width:auto;
}

.separator__header {
    margin: 0 0 20px 0;
}
.separator__plant {
    margin: 20px 0;
}