.room-location {
    margin-bottom:10px;
}

.room-location__item {
    position:relative;
    width: 75%;
    margin: auto;
    padding: 10px;
    // text-align: center;
    // display:flex;
    border-bottom: 1px solid #262729;
    &:after {
        content: " ";
        position: absolute;
        z-index: -1;
        background-color: black;
        height: 1px;
        left: 0;
        right: 0;
        bottom: 0px;
    }

    &:hover {
        cursor:pointer;
    }

    &.location--selected {
        border-left: 3px solid color(brightgreen);
    }
}

.room-location__p {
    float:left;
    color:white;
}
