.user {
    padding:20px;
    position:relative; 
    width:80%;
    margin:20px auto;
    background-color: color(light);
}
.user__inputgroup {
    display:block;
    font-size: 11px; 
    margin-bottom:3px;
}

.user__label {
    color:black;
    font-family:$base-font-family;
    font-size:rem(13);
    min-width: 100px;
    display: inline-block;
}

.user__input {
    font-family:$base-font-family;
    color:black;
    border: none;
    padding:4px;
    background: rgba(0,0,0,.2);
    /* display:block; */
}

.user__delete {
    display:absolute;
    top:5px;
    right:10px;
    width: 15px;
    height: 15px;
    background: url('/static/icons/x-mark-thin.svg');
    background-repeat:no-repeat;
    background-size:contain;

}