.delete-modal {
    text-align: center;
    background-color: white;
    padding: 20px;
}

.delete-modal__title {
    
}

.delete-modal__button {
    padding:5px;
}

.delete-modal__button-success {
    background:green;
}

.delete-modal__button-cancel {
    background:red;
}